<form>
  <div class="group-material-loginn">
    <input type="email" class="material-login-controll" maxlength="70" name="correo">
    <span class="highlight-login"></span>
    <span class="bar-login"></span>
    <label><i class="zmdi zmdi-account"></i> &nbsp; Correo</label>
  </div><br>

  <div class="group-material-loginn">
    <input type="password" class="material-login-controll" maxlength="70" name="clave">
    <span class="highlight-login"></span>
    <span class="bar-login"></span>
    <label><i class="zmdi zmdi-lock"></i> &nbsp; ContraseĂąa</label>
  </div>

  <button class="btn-login" id="ingr_regis" type="submit"><br>Ingresar al sistema &nbsp; <i
      class="zmdi zmdi-arrow-right"></i></button>
</form>